# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Environment variables
.env

# Log files
*.log

# VSCode settings
.vscode/

# Mac OS files
.DS_Store

# Ignore test db
test.db
sourceant.db

# Private keys
*.pem
