alembic
click
cryptography # Required by pyjwt
fastapi
google-genai
httpx
litellm
Mako
psycopg2
PyJWT==2.8.0
python-dateutil==2.8.2
python-dotenv
redis==5.0.4
redislite
requests==2.31.0
rq
sqlmodel
unidiff
uvicorn
