alembic==1.19.1
click==8.4.2
cryptography==50.0.0 # Required by pyjwt
fastapi==0.141.1
fastapi-pagination==0.15.16
google-genai==2.19.0
httpx==0.28.1
litellm==1.96.0
Mako==1.4.1
mcp==1.28.1
psycopg2==2.9.12
pymysql==1.1.2
PyJWT==2.10.1
python-dateutil==2.8.2
python-dotenv==1.2.3
rapidfuzz==3.14.5
redis==5.0.4
redislite==6.2.912183
requests==2.31.0
rq==2.11.0
sqlmodel==0.0.39
tree-sitter-language-pack==1.13.2
unidiff==1.0.0
vaderSentiment==3.3.2
uvicorn==0.52.4
